* {
  margin: 0;
}

.navbar {
  background: #042e6d;
  height: 60px;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  font-weight: bold;
  font-size: 2rem;
  margin: 1.2rem;
}

.nav_logo img {
  width: 50px;
}

.nav_items a {
  margin: 1.2rem;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
  transition: all 0.2s linear;
}

.nav_items a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;

}

.nav_items a:hover {
  background-color: #fff;
  color: #042e6d;
}

.nav_items a:hover::before {
  width: 100% !important;
}

.nav_toggle {
  display: none;
}

@media screen and (max-width: 768px) {

  .nav_items {
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #042e6d;
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateX(-100%);
    transition: all 0.2s linear;
  }

  .nav_items a {
    text-align: center;
  }

  .nav_toggle {
    display: flex;
    flex-direction: column;
    margin: 1.2rem;
    cursor: pointer;
  }

  .nav_toggle span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 4px 0;
    transition: all 0.2s linear;
  }

  .close span {
    transform: rotate(45deg) translate(0px, 0px);
  }

  .close span:nth-child(2) {
    display: none;
  }

  .close span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }

  .open {
    transform: translateX(0) !important;
  }

}